.App {
  position: relative;
  // background-color: black;
  width: 100vw;
  height: 100vh;
  .logo-top {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-right: 2em;
    height: 87px;
    width: 228px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bm-menu {
  background-color: #fd7e14 !important;
}
.menu-profile {
  #profile-img {
    display: flex;
    margin: auto;
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    outline: none;
  }

  #profile-name {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    font-size: x-large;
  }
}

.loading-container {
  padding-top: 10em;
  padding-left: 4.5em;
}

// #outer-container > div ~ #page-wrap {
//   margin-left: 100px;
// }
