.App {
  position: relative;

  .logo-top {
    img {
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 2em;
      padding-bottom: 1em;
      padding-right: 2em;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#profile-img {
  margin: auto;
  object-fit: cover;
  width: 15rem;
  height: 15rem;
  outline: none;
  margin-bottom: 2em;
}

#outer-container > div ~ #page-wrap {
  margin-left: 100px;
}
