// .main-component {
//   margin-top: 6em;
//   display: flex;



// }

.favourites-container {
  display: flex;
  flex-direction: column;
  margin: 4em;


}
.ui.cards {

  justify-content: center;
 
  // flex-wrap: wrap;


}
.ui.cards>.card {
  margin: 3em 3em;
}

.ui.card>.image, .ui.cards>.card>.image {

    margin: auto;
    object-fit: cover;
    width: 20rem;
    height: 20rem;

}