.favourites-container {
  padding-top: 7em;
  display: flex;
  flex-direction: column;
}

.ui.header:first-child {
  margin-bottom: 1em;
}

.ui.cards {
  justify-content: center;
  margin-top: 1em;
}

.ui.cards>.card {
  margin: 1em 1em;
}

.ui.card>.image, .ui.cards>.card>.image {
  margin: auto;
  object-fit: cover;
  width: 20rem;
  height: 20rem;
}