
 .container {
  padding: 3em;
  
   .ui.centered.image,
    .ui.centered.images {
      padding: 0;
      margin-bottom: 3em;
      // margin-top: 0 !important;
      width: 60%;
      height: 60%;
    }
 }