.loading-container {
  margin: 0;
  padding: 0;

  .loading-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10em;
    padding-right: 10em;

    img {
      height: 700px;
    }
  }
}

