/* .login-container {
  display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;

}

/* .login-credential label::after {
  content: ":";
} */
.ui.container {
  margin-top: 4em;
  

}
.image.logo {
  margin-left: 1.5em;
}
.login-container {
  padding-top: 5em;

}

.ui.input{
  margin: 0;
}

