.ui.container {
  margin: 0;
  padding-top: 7em;
}
.image.logo {
  margin-left: 1.5em;
}
.login-container {
  padding-top: 5em;
  position: absolute;
}

.loading-container {
  margin-left: 10em;
  margin-right: auto;
}
