.filter {
  display: flex;
  flex-direction: column;

  .buttonContainer{
    display: flex;
  }
}

.map-info-window {
  display: flex;
  flex-direction: column;
  width: 22em;

  img {
    height: 20em;
    width: 20em;
    border-radius: 50%;
    margin: auto;
  }

  p {
    margin:auto;
  }

  button {
    margin: auto;
  }
}