.filter {
  display: flex;
  flex-direction: column;

  .buttonContainer{
    display: flex;
  }
}

.map-info-window {
  // display: flex;
  // flex-direction: column;
   width: 22em;

  img {
    height: 20em;
    width: 20em;
    border-radius: 50%;
  }

  p {
    margin:auto;
  }

  .button {
    margin: auto;
  }
}

.carousel {
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
  
  .ui.card{
    margin: auto;
    margin-top: 1em;

    .card-image {
      object-fit: cover;
      height: 10em;
      width: 10em;
      margin: auto;
      border-radius: 50%;
    }
  }
}