.map-container {
  padding: 7em 2em 0 2em;

  .buttonContainer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.75em;
  }

  .map-info-window {
    display: flex;
    flex-direction: column;
    width: 17em;
    align-items: center;

    .fave-button {
      position: absolute;
      top: 8em;
      right: 2em;
    }
  
    img {
      margin-top: 1em;
      margin-bottom: 1em;
      object-fit: cover;
      height: 15em;
      width: 15em;
      border-radius: 50%;
    }
  
    .info-name {
      margin:auto;
      font-size:medium;
      font-weight:600;
    }

    .info-distance {
      margin:auto;
      padding-bottom:0.25em;
    }
  }

  .carousel {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    
    .ui.card{
      margin: auto;
      width: 15em;
  
      .header {
        font-size: 1em;
        margin-bottom: 0;
      }
  
      .card-image {
        object-fit: cover;
        height: 10em;
        width: 10em;
        margin: auto;
        border-radius: 50%;
      }
  
      .distance-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .icon {
          text-decoration: none;
        }
      }
  
    }
  }
}
