.container {
  padding-left: 3em;
  padding-top: 2em;
}

.message-container {
  padding-top: 2em;
  width: 80%;
  height: 600px;
  overflow: scroll;
  margin-bottom: 1em;
}

.input-group-text {
  width: 80%;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#message {
  padding-left: 1em;
  text-align: left;
}

.message-date {
  font-size: x-small;
  padding-left: 1em;
}
