.container {
  padding-left: 3em;
  padding-top: 2em;
}

.message-container {
  padding-top: 2em;
}

.input-group-text {
  width: 80%;
  height: 8em;
}

.message-date {
  font-size: x-small;
  padding-left: 1em;
}
