#user_card {
    width: 50%;
}

.slider {
    margin-bottom: 10px;
}

.profile-container {
    .profile-section-logo {
        img {
          position: absolute;
          top: 0;
          right: 0;
          padding-top: 2em;
          padding-bottom: 1em;
          padding-right: 2em;
        }
      }

    .profile-section-top {
        padding-top: 7em;
        flex-direction: column;
        display: flex;
        align-items: center;
        background-color: beige;

        .profile-image {
            object-fit: cover;
            width: 30rem;
            height: 30rem;
        }
    }

    .carousel {
        display: flex;

        img {
            margin: auto;
            object-fit: cover;
            width: 30rem;
            height: 30rem;
        }
    }
}