#user_card {
    width: 50%;
}

.slider {
    margin-bottom: 10px;
    width: 30rem;
    height: 30rem;
}

.profile-container {
    padding: 7em 2em 0 2em;
    display: flex;
    flex-direction: column;

    .header-button {
        display: flex;
        flex-direction: column;
        align-items: center;

        .button-non-user {
            display: flex;
            flex-direction: column;
        }
    }

    .carousel {
        display: flex;
        justify-content: center;

        img {
            margin: auto;
            object-fit: cover;
            width: 30rem;
            height: 30rem;
        }
        .slider-control-centerleft {
            margin-left: 3rem;
        }
        .slider-control-centerright {
            margin-right: 3rem;
        }   
    }

}